<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<script type="application/javascript">
    function f() {
        var fileUrl = document.getElementById("pro").value;
        var url = "http://localhost:8012/onlinePreview?url=http://192.100.1.158:8080/group1/M00/00/00/"  + encodeURIComponent(fileUrl);
        var winHeight = window.document.documentElement.clientHeight-10;
        window.open(url, "_blank", "height=" + winHeight
            + ",top=80,left=180,toolbar=no, menubar=no, scrollbars=yes, resizable=yes");
    }
</script>

<body>

<h1>FastDFS文件上传</h1>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" placeholder="请输入文件名"/><br/>
    <input type="submit" value="上传"/>
</form>
<br/>

<form method="POST" action="/delete" >
    <input type="text" name="filename" placeholder="请输入文件名"/><br/>
    <input type="submit" value="删除"/>
</form>
<br/>

<form method="GET" action="/downFile" >
    <input type="text" name="filename" placeholder="请输入文件名"/><br/>
    <input type="submit" value="下载"/>
</form>
<br/>

<input type="text" name="pro" id="pro" placeholder="请输入文件名"/><br/>
<button onclick="f()">预览</button>
</body>
</html>