<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.fastdfsclient.mapper.FileInfoMapper">

    <select id="findFileByName" parameterType="string" resultType="com.kd.fastdfsclient.entity.FileInfo" >
        SELECT * FROM `file_info` WHERE file_name=#{filename};
    </select>

    <delete id="deleteByFileName" parameterType="string" >
        DELETE FROM `file_info` WHERE file_name=#{filename};
    </delete>

    <select id="selectCountByREGEXP"  parameterType="string" resultType="int">
        SELECT COUNT(1) FROM `file_info` WHERE file_name ${other} REGEXP #{suffix};
    </select>

    <select id="selectListByREGEXP" resultType="com.kd.fastdfsclient.entity.FileInfo">
        SELECT * FROM `file_info` WHERE file_name REGEXP #{suffix} ${other} ORDER BY ${order} ${sequence}
                                                                                     LIMIT ${current}, ${size};
    </select>
    
    <select id="selectListForChinese" resultType="com.kd.fastdfsclient.entity.FileInfo">
        SELECT * FROM `file_info`  WHERE file_name REGEXP #{suffix} ${other} ORDER BY CONVERT(${order} USING gbk)
                                                                                      COLLATE gbk_chinese_ci ${sequence}
                                                                                      LIMIT ${current}, ${size};
    </select>

</mapper>
