<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.fastdfsclient.mapper.FileInfoMapper">

    <select id="findAllFileByName" parameterType="string" resultType="com.kd.fastdfsclient.entity.FileInfo" >
        SELECT * FROM `file_info` WHERE file_name=#{fileName};
    </select>

    <select id="findCurrentFileByName" parameterType="string" resultType="com.kd.fastdfsclient.entity.FileInfo" >
        SELECT * FROM `file_info` WHERE file_name=#{fileName} AND is_current=1;
    </select>

    <select id="findFileByGroupAndRemoteFileName" parameterType="string" resultType="string" >
        SELECT file_name FROM `file_info` WHERE group_name = #{groupName} AND remote_file_name=#{remoteFileName};
    </select>

    <delete id="deleteByFileName" parameterType="string" >
        DELETE FROM `file_info` WHERE file_name=#{fileName};
    </delete>

    <select id="selectCountByREGEXP"  parameterType="string" resultType="int">
        SELECT COUNT(1) FROM `file_info` WHERE file_name ${other} REGEXP #{suffix}  AND is_current=1;
    </select>

    <select id="selectListByREGEXP" resultType="com.kd.fastdfsclient.entity.FileInfo">
        SELECT * FROM `file_info` WHERE file_name ${other} REGEXP #{suffix}  AND is_current=1 ORDER BY ${order} ${sequence}
                                                                                     LIMIT ${current}, ${size};
    </select>
    
    <select id="selectListForChinese" resultType="com.kd.fastdfsclient.entity.FileInfo">
        SELECT * FROM `file_info`  WHERE file_name ${other} REGEXP #{suffix}  AND is_current=1 ORDER BY CONVERT(${order} USING gbk)
                                                                                      COLLATE gbk_chinese_ci ${sequence}
                                                                                      LIMIT ${current}, ${size};
    </select>

    <select id="searchCount" resultType="int">
        SELECT count(1) FROM `file_info` WHERE file_name LIKE #{fileName}  AND is_current=1;
    </select>

    <select id="searchPage" resultType="com.kd.fastdfsclient.entity.FileInfo">
        SELECT * FROM `file_info` WHERE file_name LIKE #{fileName} AND is_current=1 ORDER BY ${order} ${sequence} LIMIT ${current}, ${size};
    </select>

    <select id="searchPageForChinese" resultType="com.kd.fastdfsclient.entity.FileInfo">
        SELECT * FROM `file_info` WHERE file_name LIKE #{fileName} AND is_current=1 ORDER BY CONVERT(${order} USING gbk)
                                                                            COLLATE gbk_chinese_ci ${sequence}
                                                                            LIMIT ${current}, ${size};
    </select>

    <update id="updateVersionByFileName" parameterType="string" >
        UPDATE file_info SET is_current=0 WHERE file_name=#{fileName} AND is_current=1;
    </update>


</mapper>
