<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.fastdfsclient.mapper.FileInfoMapper">

    <select id="findAllFileByName" parameterType="string" resultType="com.kd.fastdfsclient.entity.FileInfo" >
        SELECT * FROM `file_info` WHERE file_name=#{fileName} ORDER BY upload_date DESC;
    </select>

    <select id="findCurrentFileByName" parameterType="string" resultType="com.kd.fastdfsclient.entity.FileInfo" >
        SELECT * FROM `file_info` WHERE file_name=#{fileName} AND is_current=1;
    </select>

    <select id="findFileByGroupAndRemoteFileName" parameterType="string" resultType="string" >
        SELECT file_name FROM `file_info` WHERE group_name = #{groupName} AND remote_file_name=#{remoteFileName};
    </select>

    <delete id="deleteByFileName" parameterType="string" >
        DELETE FROM `file_info` WHERE file_name=#{fileName};
    </delete>
    <delete id="deleteByRemoteFileName">
        DELETE FROM `file_info` WHERE group_name=#{groupName} AND remote_file_name=#{remoteFileName};
    </delete>

    <select id="selectCountByREGEXP"  parameterType="string" resultType="int">
        SELECT COUNT(1) FROM `file_info`WHERE file_name
        <if test="other">
            NOT
        </if>
        REGEXP #{suffix} AND is_current=1;
    </select>

    <select id="selectListByREGEXP" resultType="com.kd.fastdfsclient.entity.FileInfo">
        SELECT * FROM `file_info` WHERE file_name
        <if test="other">
            NOT
        </if>
        REGEXP #{suffix} AND is_current=1
        ORDER BY ${order}
        <if test="asc">
            ASC
        </if>
        <if test="!asc">
            DESC
        </if>
        LIMIT ${current}, ${size};
    </select>

    <select id="selectListForChinese" resultType="com.kd.fastdfsclient.entity.FileInfo">
        SELECT * FROM `file_info` WHERE file_name
        <if test="other">
            NOT
        </if>
        REGEXP #{suffix} AND is_current=1
        ORDER BY CONVERT(${order} USING gbk)
        COLLATE gbk_chinese_ci
        <if test="asc">
            ASC
        </if>
        <if test="!asc">
            DESC
        </if>
        LIMIT ${current}, ${size};
    </select>

    <select id="searchCount" resultType="int">
        SELECT count(1) FROM `file_info` WHERE file_name LIKE #{fileName} AND is_current=1;
    </select>

    <select id="searchPage" resultType="com.kd.fastdfsclient.entity.FileInfo">
        SELECT * FROM `file_info` WHERE file_name LIKE #{fileName} AND is_current=1
        ORDER BY ${order}
        <if test="asc">
            ASC
        </if>
        <if test="!asc">
            DESC
        </if>
        LIMIT ${current}, ${size};
    </select>

    <select id="searchPageForChinese" resultType="com.kd.fastdfsclient.entity.FileInfo">
        SELECT * FROM `file_info` WHERE file_name LIKE #{fileName} AND is_current=1
        ORDER BY CONVERT(${order} USING gbk)
        COLLATE gbk_chinese_ci
        <if test="asc">
            ASC
        </if>
        <if test="!asc">
            DESC
        </if>
        LIMIT ${current}, ${size};
    </select>

    <update id="updateVersionToOldByFileName">
        UPDATE `file_info` SET is_current=0 WHERE file_name=#{fileName} AND is_current=1;
    </update>

    <update id="updateVersionToCurrentByRemoteFileName">
        UPDATE `file_info` SET is_current=1 WHERE remote_file_name=#{remoteFileName};
    </update>

    <select id="countUpload" resultType="int">
        SELECT COUNT(*) FROM `file_info` WHERE upload_date &gt;= #{beforeTime} AND upload_date &lt;= #{afterTime};
    </select>

    <select id="findFileById" resultType="com.kd.fastdfsclient.entity.FileInfo">
        SELECT * FROM `file_info` WHERE file_id = #{fileId};
    </select>


    <update id="setFileId">
        UPDATE `file_info` SET file_id=#{fileId} WHERE file_id=null ;
    </update>
</mapper>
